@font-face {
     font-family: "JosefinSans";
     src: url("../fonts/Josefin/semibold/JosefinSans-SemiBold.eot");
     src: url("../fonts/Josefin/semibold/JosefinSans-SemiBold.eot?#iefix") format("embedded-opentype"),
          url("../fonts/Josefin/semibold/JosefinSans-SemiBold.svg#JosefinSans-SemiBold") format("svg"),
          url("../fonts/Josefin/semibold/JosefinSans-SemiBold.ttf") format("truetype"),
          url("../fonts/Josefin/semibold/JosefinSans-SemiBold.woff") format("woff"),
          url("../fonts/Josefin/semibold/JosefinSans-SemiBold.woff2") format("woff2");
     font-weight: 600;
     font-style: normal;
}
@font-face {
     font-family: "JosefinSans";
     src: url("../fonts/Josefin/regular/JosefinSans-Regular.eot");
     src: url("../fonts/Josefin/regular/JosefinSans-Regular.eot?#iefix") format("embedded-opentype"),
          url("../fonts/Josefin/regular/JosefinSans-Regular.svg#JosefinSans-Regular") format("svg"),
          url("../fonts/Josefin/regular/JosefinSans-Regular.ttf") format("truetype"),
          url("../fonts/Josefin/regular/JosefinSans-Regular.woff") format("woff"),
          url("../fonts/Josefin/regular/JosefinSans-Regular.woff2") format("woff2");
     font-weight: 400;
     font-style: normal;
}
@font-face {
     font-family: "JosefinSans-Bold";
     src: url("../fonts/Josefin/bold/JosefinSans-Bold.eot");
     src: url("../fonts/Josefin/bold/JosefinSans-Bold.eot?#iefix") format("embedded-opentype"),
          url("../fonts/Josefin/bold/JosefinSans-Bold.svg#JosefinSans-Bold") format("svg"),
          url("../fonts/Josefin/bold/JosefinSans-Bold.ttf") format("truetype"),
          url("../fonts/Josefin/bold/JosefinSans-Bold.woff") format("woff"),
          url("../fonts/Josefin/bold/JosefinSans-Bold.woff2") format("woff2");
     font-weight: 700;
     font-style: normal;
}
