$primary-color: #fb2e86;
$title-color: #151875;
$header-bg: #7e33e0;
$white: #fff;
$black: #000;
$header-text-color: #0d0e43;
$hero-bg: #f2f0ff;
$hero-text: #8a8fb9;
$footer-bg: #eeeffb;
$product-bg: #f7f7f7;
$form-text: #9096B2;
$form-border: #C2C5E1;